#KiCad
*.bak
*.bck
*.raw
*.log
*.dcm
*.kicad_pcb-bak
*autosave*
#*cache*
*_saved_*
*.*-bak
*.kicad_prl
fp-info-cache
*-backups/

#SW
*.[oad]
*~
*.mk
*.elf
*.lss
*.map
*.srec
*makefile*
*.asc
*.project
*.epp
*.db
*.elf
*.hex
*.bin
*.eep
*.sublime*
.settings/*
*.vs/
**/cmake-build-*/
**/build/
**/.idea/
*.fls
*.fdb_latexmk

HW/out/*.zip
